body {
    margin: 0;
    padding: 0;
    background-color: #E8DEDB;
    margin-bottom:100px;
    min-height: 900px;
    clear: both;
}
#biotile h2{
    margin-top:0px;
    margin-bottom:10px;
    color: #104950;
    font-family: Raleway, Cinzel, sans-serif;
}
#join h1{
    margin-top:0px;
    margin-bottom:10px;
    color: #104950;
    font-family: Raleway, Cinzel, sans-serif;
    
}
h3 {
    margin-top:0px;
    margin-bottom:10px;
    color: #371F13;
    font-family: Raleway, Cinzel, sans-serif;
}
header {
    width: 100%;
    height: 130px;
    background-color: #2A5A64;
    font-family: Raleway, Arial, sans-serif;
    margin: 0;
}
header h1, header h2 {
    font-family: Raleway, Arial, sans-serif;
    margin: 0;
    color: #9898A4;
    font-variant: small-caps;
    margin-top: 15px;
    text-align: center;
    display: inline-block;
    width: 300px;
}
nav ul, nav a {
    background-color: #2A5A64;
    text-shadow: 0 2px 1px rgba(0,0,0,0.5);
    color: #E8DEDB;
    margin-top: 0px;
    list-style-type: none;
    text-align: right;
    padding-right: 30px;
    font-family: Raleway, Arial, sans-serif; 
    text-decoration: none;   
}
nav li {
    display: inline-block;
    color: #9898a4;
    font-size: 1.6em;
}
nav li:hover a {
	color: #fafafa;
}

#content {
    text-align: center;
}
#content h2{
    color: #104950;
    font-family: Raleway, Cinzel, sans-serif;
    font-size: 1.5em;
}
#biotile {
    width: 700px;
    height: 150px;
    margin: 20px;
    border-radius: 25px;
    background:#BAB8C3;
    text-align: center;
    float: left;
    border-color: #CBC2BE;
    border-style: solid;
    
}
#join {
    width: 235px;
    height: 150px;
    margin: 20px;
    border-radius: 25px;
    background:#BAB8C3;
    text-align: center;
    float: left;
    border-color: #CBC2BE;
    border-style: solid;

    
}
#biotile img{
    margin-left: 25px;
    margin-top: 3px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    
}
#tile1 {
    clear:left;
    width: 300px;                    
    float:left;  
    background:#BAB8C3; 
    border-radius: 25px;
    margin: 20px; 
    border-color: #CBC2BE;
    border-style: solid;
    
}
#tile2 {
    width: 300px;                    
    float:left;  
    background:#BAB8C3; 
    border-radius: 25px;
    margin: 20px; 
    border-color: #CBC2BE;
    border-style: solid;
    
}
#tile3 {
    width: 300px;                    
    float:left;  
    background:#BAB8C3; 
    border-radius: 25px;
    margin: 20px; 
    border-color: #CBC2BE;
    border-style: solid;
    
}
#tile1 img{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
}
#tile2 img{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
}
#tile3 img{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 100px;
    background-color: #444444;
}